/* Button styling for the Phone Support page */
.LM-Button {
background-color: #0E38AC;
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
}
    .LM-Button:hover {
    background-color: #4D99F4;
    }
    .LM-Button:active {
        background-color: #1A1A1A;
    }

#LM-Button2 a {
    text-decoration: none;
}

/* All links. Listing Mirror branding. */
.LM-Link a {
    color: #0E38AC;
    text-decoration: none;
}
.LM-Link a:hover {
    color: #050F36;
    text-decoration: none;
}

/* All tables */
.LM-Table table {
    width: 35%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.LM-Table th {
    width: 20%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.LM-Table td {
    width: 20%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

/* All ordered lists */
.LM-OList {
    list-style-type: 1;
}