/* Listing Mirror text style branding */
a {
    color: #0E38AC  
}
a:hover {
    color: #050F36
}

/* Button styling for the Phone Support page */
.button {
background-color: #0E38AC;
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
}
    .button:hover {
    background-color: #4D99F4;
    }
    .button:active {
        background-color: #1A1A1A;
    }

#button2 a {
    text-decoration: none;
}

/* All tables */
table, th, td {
    width: 20%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

/* All ordered lists */
ol {
    list-style-type: 1;
}